<html>

<head>
</head>

<body>

<table>
<tr>
<th>
First Version
</th>
<th>
Later Version
</th>
</tr>

{{ range .ClippingPairs }}

{{ range . }}

<tr>
<td>
{{ .Text }}
</td>
</tr>

{{ end }}
{{ end }}

</table>
</body>
</html>